*{margin: 0; padding: 0; box-sizing: border-box;}
input:focus,button:focus{outline: 0}

body{
    font-family: 'Poppins';
}

h2{
    font-size: 23px;
    padding: 10px 20px;
    color: black;
    background-color: lightgrey;
}

#chat-wrap{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-window{
    height: 400px;
    overflow-y: auto;
}

#output p{
    font-size: 15px;
    padding: 12px;
}

#output p:nth-child(even)
{
    background-color:rgb(192, 181, 28);
}


#feedback p{
    font-size: 13px;
    padding: 12px;
}

#output strong{
    color:darkcyan;
}


input
{
    font-family: 'Poppins';
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
}

button
{
    font-family: 'Poppins';
    padding: 10px 0px;
    color: black;
    background-color: lightgrey;
    border: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    font-size: 17px;
}